doctype html
html
  head
    meta(charset='UTF-8')
    title New Sails App
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    <!--STYLES-->
    link(rel="stylesheet" href="/styles/importer.css")
    <!--STYLES END-->

  body
    // Header
    block body
    // Footer
    <!--SCRIPTS-->
    script(src="/dependencies/sails.io.js")
    <!--SCRIPTS END-->
